@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:url("bajubaju.jpg") no-repeat center center;
    background-size:cover;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:rgba(0,0,0,0.2);
    backdrop-filter:blur(8px);
}

.logo{
    color:white;
    font-size:24px;
    font-weight:600;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#4facfe;
}

.hero{
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    padding:40px;
    border-radius:20px;
    color:white;
    width:80%;
    max-width:700px;
}

.hero-content h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero-content p{
    font-size:18px;
    margin-bottom:25px;
}

.hero-content button{
    display:inline-block;
    padding:12px 25px;
    background:#936f56;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

.hero-content button:hover{
    background:#604a35;
}